<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', title='Detail page')  %> 
<body>
	<%- include('partials/header') %>

	<%- include('partials/main', title='Detail page') %> 
</body>
</html>